// src/styles/custom-calendar.scss

// Override default variables first
$calendar-border: #fff !default;
$cell-border: #fff !default;
$border-color: #fff !default;
$segment-width: 0.14286% !default;
$time-selection-color: white !default;
$time-selection-bg-color: rgba(0, 0, 0, 0.5) !default;
$date-selection-bg-color: rgba(0, 0, 0, 0.1) !default;
$event-bg: #6f2dbd !default;
$event-outline: #3b99fc !default;
$event-color: #fff !default;
$event-border-radius: 5px !default;
$event-padding: 2px 10px !default;
$event-zindex: 4 !default;
$btn-color: #fff !default;
// $btn-bg: #000 !default;
// $btn-border: #fff !default;
$current-time-color: #ffd166 !default;
$today-highlight-bg: #495d63 !default;

// Import default styles after variables are set
@import "react-big-calendar/lib/sass/styles";

// Optionally, add any custom CSS rules here
